@font-face {
  font-family: HabitFont;
  src: url('../HabitFonts/HabitTracker.ttf');
}

body {
  background: #f8f7f2;
  font-family: "Amatic SC", cursive;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title {
  text-align: center;
  font-family: "HabitFont";
  margin: 0;
  color: black;
  text-shadow: 2px 3px 3px #dfe8ea;
  font-size: 84px;
  left: 5vw;
  font-weight: normal;
  top: 10vw;
}


.social {
  position: absolute;
  left: 10px;
  top: 10px;
}
.social a img {
  display: inline-block;
  height: 1.5em;
}

#grid {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 0em 0;
  height: 5px;
  position: relative;
  left: 2vw;
  top: -16vw;
  height: 16vw;
  width: 143vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}
#grid:hover {
  cursor: pointer;
}
#grid #choosen span {
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
}

#choices {
  display: inline-flex;
  position: relative;
    left: -69vw;
    top: -18vw;
    height: 5vw;

}
#choices div {
  position: relative;
  margin: 0 1em;
  padding-left: 1.25em;
  height: 4vw;
  width: 18vw;

}
#choices div span {
  position: absolute;
  left: -123vw;
  top: -25.9vh;
  width: 4.5vw;
  height: 3.2vw;
  margin-left: -2px;

}

.content {
  display: inline-flex;
  flex-direction: column;
}

#weekContainer,
#habitHeader,
#daysHeader,
#tableContainer {
  display: flex;
  justify-content: normal;
  margin-bottom: 0.25em;
  position: relative;
  left: -42px;
}

#daysHeader {
  margin-left: 1.25em;
  margin-bottom: 0;
  margin-top: 1em;
}

.habitHeader {
  height: auto;
  font-size: 1px;
  padding: 1px 0 0px 1px;
  text-align: right;
  font-weight: bold;
  position: relative;
  top: -1vw;
  margin-bottom: 1vw;
  right: 4vw;
  width: 9vw;

}

.dayHeader {
  height: 1.25em;
      font-size: 19px;
      padding: 1px 0 0px 4px;
      text-align: center;
      font-weight: bold;
      position: relative;
      left: 124px;
      margin-right: 65px;

}
.monthContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;

}


.monthContainer:hover {
  cursor: pointer;
}

.dayContainer {
  width: 5em;
  height: 2.25em;
  border: 2.5px inset #dfe8ea;
  margin-right: -1px;
  margin-bottom: -1px;
  background: radial-gradient(ellipse at center, rgba(255,255,255,.1) -95%, white 100%);
}

@media (min-width: 769px) {
  .content {
    display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  left: -29px;
  position: relative;
  top: 23px;

  }

  #weekContainer {
    flex-direction: column;
    margin-left: 1vw;
    margin-right: -3vw;
position: relative;
left: -1vw;
top: 2vw;
  }

  #habitHeader {
    flex-direction: column;
    width: 629%;
    left: -7px;
margin-right: 2vw;


  }

  .dayHeader,
  #daysHeader,
  .monthContainer {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .content {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

  }

  #weekContainer,
  #habitHeader {
    flex-direction: row;
  }

  .dayHeader,
  #daysHeader,
  #tableContainer {
    flex-direction: column;
  }
}

.HabitBackground {
background-repeat: no-repeat;
background-size: cover;
height: 1000px;
width: 1700px;
position: relative;
/* left: -39%; */

}

.HabitCard{
  background-image: url(https://www.lumen.com.mx/Content/Images/productPics/12445.jpg);
    height: 600px;
    width: 793px;
    margin-left: 46px;
    margin-top: 98px;
    box-shadow: 0px 13px 10px black;
transform: rotate(4deg);
position: relative;
left: 426px;

}

.tape {
  width: 120px;
  height: 40px;
  background: rgba(25, 181, 254, 0.5);
  position: absolute;
  top: auto;
  right: -23px;
  bottom: -31px;
  left: auto;
  -webkit-transform: rotate(-8deg) translate3d(25%, 0, 0);
  transform: rotate(-28deg) translate3d(25%, 0, 0);
}
.tape1 {
  width: 120px;
  height: 40px;
  background: rgba(254, 241, 96, 0.7);
  position: absolute;
  left: -70px;
  top: 7px;
  bottom: -31px;
  -webkit-transform: rotate(-8deg) translate3d(25%, 0, 0);
  transform: rotate(-41deg) translate3d(25%, 0, 0);
}
